<div class='space-y-4'>
  <div class="flex justify-between items-center mb-4">
    @if (editFlag()) {
    <h1 class="text-2xl font-bold">Edit Idea</h1>
    <a [routerLink]="['/ideas', ideaId]" class='text-sm text-blue-600 hover:underline'>Back To Idea</a>
    }
    @else {
    <h1 class="text-2xl font-bold">Create New Idea</h1>
    }
  </div>
  <form class="space-y-2" (ngSubmit)='submit()' [formGroup]="ideaForm">
    <div>
      <label for="title" class='block text-gray-700 font-medium mb-1'>Title</label>
      <input type="text" formControlName="title" id="title" placeholder='Enter Idea Title'
        [ngClass]="submitted() && title?.invalid ? 'border-red-500': ''"
        class='w-full border border-gray-300 rounded-md p-2 focus:outline-none focus:ring-2 focus:ring-blue-500 ' />
      @if (submitted() && title?.invalid) {
      <span class="text-red-700">Title Required</span>
      }
    </div>
    <div>
      <label for="summary" class='block text-gray-700 font-medium mb-1'>Summary</label>
      <input type="text" formControlName="summary" id="summary" placeholder='Enter Idea Summary'
        [ngClass]="submitted() && summary?.invalid ? 'border-red-500': ''"
        class='w-full border border-gray-300 rounded-md p-2 focus:outline-none focus:ring-2 focus:ring-blue-500 ' />
      @if (submitted() && summary?.invalid) {
      <span class="text-red-700">Summary Required</span>
      }
    </div>
    <div>
      <label for="description" class='block text-gray-700 font-medium mb-1'>Description</label>
      <textarea formControlName="description" id="description" placeholder='Write out the description of your Idea'
        [class.border-red-500]="submitted() && description?.invalid"
        class='w-full border border-gray-300 rounded-md p-2 focus:outline-none focus:ring-2 focus:ring-blue-500 '></textarea>
      @if (submitted() && description?.invalid) {
      <span class="text-red-700">Description Required</span>
      }
    </div>
    <div formArrayName="tags">
      <div class="flex justify-between items-center">
        <label for="tags" class='block text-gray-700 font-medium mb-1'>Tags</label>
        <img class="w-8 cursor-pointer" src="plus-solid-full.svg" alt="add" (click)="addTag()">
      </div>
      @for (tag of tags.controls; track $index; let i = $index) {
      <div class="flex mt-5 items-center gap-5">
        <input type="text" [formControlName]="i" id="tags{{$index}}" placeholder='tags'
          class='w-full border border-gray-300 rounded-md p-2 focus:outline-none focus:ring-2 focus:ring-blue-500' />
        <img class="w-8 cursor-pointer" src="trash-solid-full.svg" alt="remove" (click)="removeTag(i)">
      </div>
      }
    </div>
    <div class="mt-5">
      <button
        class='block w-full bg-blue-600 hover:bg-blue-700 text-white font-semibold px-6 py-2 rounded-md transition disabled:opacity-50 disabled:cursor-not-allowed'
        type="submit" [disabled]='isPending()'>
        @if(editFlag()) {
        {{isPending()?'Updateing...' : 'Update Idea'}}
        }
        @else {
        {{isPending()?'Creating...' : 'Create Idea'}}
        }
      </button>
    </div>
  </form>
</div>